<div class="app-machine-details-container">
  <span>
    <label for="machineLocation">Location:</label>
    <input #place value="{{ this.machineData.Location }}" (keyup.enter)="updateLocationValue(place.value)" (blur)="updateLocationValue(place.value);" name="machineLocation" />
  </span>
  <span>
    <label for="machineLocation">Serial Number:</label>
    <input #serial value="{{ this.machineData.SerialNumber }}" (keyup.enter)="updateSerialValue(serial.value)" (blur)="updateSerialValue(serial.value);" name="machineSerial" />
  </span>
</div>
