<div class="periodical-sender-container">
  <form>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" (change)="sendPeriodically()" class="custom-control-input" id="sendDataPeriodically">
      <label class="custom-control-label" for="sendDataPeriodically">Send Data Periodically</label>
    </div>
    <label for="boilerTemp">Boiler Temp</label>
    <input type="range" class="custom-range" [(ngModel)]="data.BoilerTemp" min="0" max="100" id="boilerTemp" name="boilerTemp">
    <label for="beanLevel">Bean Level</label>
    <input type="range" class="custom-range" [(ngModel)]="data.BeanLevel" min="0" max="100" id="beanLevel" name="beanLevel">
  </form>
</div>
