<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container row">
  <div class="col-12">
    <app-coffee-machine-title></app-coffee-machine-title>
    <app-coffee-machine-details></app-coffee-machine-details>
  </div>
  <div class="col-6">
    <div class="control-panel-container">
      <app-coffee-machine-control-panel></app-coffee-machine-control-panel>
    </div>
  </div>
  <div class="col-6">
    <div class="control-panel-container">
      <app-coffee-machine-periodical-sender></app-coffee-machine-periodical-sender>
    </div>
  </div>
</div>

